p {
  margin-top: 0;
  margin-bottom: 0;
}
body {
    font-family: "DM Sans", sans-serif;
    padding-top: 85px;
    margin: 0;
}

button {
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
}

ul {
  color: rgb(41, 100, 138);
  font-size: 20px;
}

::marker {
  content: "»";
  font-size: 32px;
}

li {
  padding-inline-start: 1ch;
}

hr {
  border-top: 4px solid rgb(37, 39, 77);
  width: 200px;
}